In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# loading the diabetes dataset to a pandas DataFrame
thyroid_svm = pd.read_csv(r"C:\Users\Muthukumar\Desktop\Final Year Project\thyroid_dataset.csv")

In [3]:
# printing the first 5 rows of the dataset
thyroid_svm.head()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TSH measured,TSH,T3 measured,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,binaryClass
0,41.0,0.0,0,0,0,0,0,0,0,0,...,1,1.30,1,1,125.0,1.0,1.140,1,109.000000,0
1,23.0,0.0,0,0,0,0,0,0,0,0,...,1,4.10,1,1,102.0,0.0,0.995,0,110.469649,0
2,46.0,1.0,0,0,0,0,0,0,0,0,...,1,0.98,0,1,109.0,1.0,0.910,1,120.000000,0
3,70.0,0.0,1,0,0,0,0,0,0,0,...,1,0.16,1,1,175.0,0.0,0.995,0,110.469649,0
4,70.0,0.0,0,0,0,0,0,0,0,0,...,1,0.72,1,1,61.0,1.0,0.870,1,70.000000,0

In [4]:
thyroid_svm.shape

(3771, 26)

In [5]:
thyroid_svm.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TSH measured,TSH,T3 measured,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,binaryClass
count,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,...,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000,3771.000000
mean,51.628941,0.315379,0.123044,0.013259,0.011403,0.038982,0.014055,0.014055,0.015646,0.062053,...,0.902148,5.087823,0.796075,0.938743,108.316778,0.897375,0.994964,0.897905,110.471364,0.077168
std,18.980472,0.455393,0.328532,0.114397,0.106187,0.193577,0.117732,0.117732,0.124117,0.241283,...,0.297154,23.293851,0.402967,0.239833,34.500726,0.303509,0.185168,0.302813,31.359068,0.266893
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.005000,0.000000,0.000000,2.000000,0.000000,0.250000,0.000000,2.000000,0.000000
25%,36.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.600000,1.000000,1.000000,89.000000,1.000000,0.890000,1.000000,94.000000,0.000000
50%,54.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.600000,1.000000,1.000000,106.000000,1.000000,0.995000,1.000000,110.000000,0.000000
75%,67.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,3.800000,1.000000,1.000000,123.000000,1.000000,1.070000,1.000000,121.500000,0.000000
max,94.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,530.000000,1.000000,1.000000,430.000000,1.000000,2.320000,1.000000,395.000000,1.000000

In [6]:
thyroid_svm['binaryClass'].value_counts()

binaryClass
0    3480
1     291
Name: count, dtype: int64

In [7]:
thyroid_svm.groupby('binaryClass').mean()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,psych,TSH measured,TSH,T3 measured,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI
binaryClass,,,,,,,,,,,,,,,,,,,,,
0,51.638430,0.322076,0.130747,0.013506,0.012069,0.039080,0.01523,0.014655,0.015517,0.056034,...,0.050575,0.893966,2.232490,0.792241,0.935057,111.226199,0.895977,0.993444,0.896552,113.316688
1,51.515464,0.235286,0.030928,0.010309,0.003436,0.037801,0.00000,0.006873,0.017182,0.134021,...,0.027491,1.000000,39.234072,0.841924,0.982818,73.523700,0.914089,1.013144,0.914089,76.444815

In [8]:
# separating the data and labels
X = thyroid_svm.drop(columns = 'binaryClass', axis=1)
Y = thyroid_svm['binaryClass']

In [9]:
print(X)

       age  sex  on thyroxine  query on thyroxine  on antithyroid medication  \
0     41.0  0.0             0                   0                          0
1     23.0  0.0             0                   0                          0
2     46.0  1.0             0                   0                          0
3     70.0  0.0             1                   0                          0
4     70.0  0.0             0                   0                          0
...    ...  ...           ...                 ...                        ...
3766  30.0  0.0             0                   0                          0
3767  68.0  0.0             0                   0                          0
3768  74.0  0.0             0                   0                          0
3769  72.0  1.0             0                   0                          0
3770  64.0  0.0             0                   0                          0

      sick  pregnant  thyroid surgery  I131 treatment  query hypothyroid  ...  \
0        0         0                0               0                  0  ...
1        0         0                0               0                  0  ...
2        0         0                0               0                  0  ...
3        0         0                0               0                  0  ...
4        0         0                0               0                  0  ...
...    ...       ...              ...             ...                ...  ...
3766     0         0                0               0                  0  ...
3767     0         0                0               0                  0  ...
3768     0         0                0               0                  0  ...
3769     0         0                0               0                  0  ...
3770     0         0                0               0                  0  ...

      psych  TSH measured       TSH  T3 measured  TT4 measured         TT4  \
0         0             1  1.300000            1             1  125.000000
1         0             1  4.100000            1             1  102.000000
2         0             1  0.980000            0             1  109.000000
3         0             1  0.160000            1             1  175.000000
4         0             1  0.720000            1             1   61.000000
...     ...           ...       ...          ...           ...         ...
3766      0             0  5.086766            0             0  108.319345
3767      0             1  1.000000            1             1  124.000000
3768      0             1  5.100000            1             1  112.000000
3769      0             1  0.700000            1             1   82.000000
3770      0             1  1.000000            1             1   99.000000

      T4U measured    T4U  FTI measured         FTI
0              1.0  1.140             1  109.000000
1              0.0  0.995             0  110.469649
2              1.0  0.910             1  120.000000
3              0.0  0.995             0  110.469649
4              1.0  0.870             1   70.000000
...            ...    ...           ...         ...
3766           0.0  0.995             0  110.469649
3767           1.0  1.080             1  114.000000
3768           1.0  1.070             1  105.000000
3769           1.0  0.940             1   87.000000
3770           1.0  1.070             1   92.000000

[3771 rows x 25 columns]

In [10]:
print(Y)

0       0
1       0
2       0
3       0
4       0
       ..
3766    0
3767    0
3768    0
3769    0
3770    0
Name: binaryClass, Length: 3771, dtype: int64

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(3771, 25) (3016, 25) (755, 25)

In [13]:
classifier = svm.SVC(kernel='linear')
     
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [14]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)
     
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9665119363395226

In [15]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
     

print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9615894039735099

In [16]:
input_data = (45,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3.2,1,1,105.0,1,0.9,1,85.0)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person does not have Thyroid')
else:
  print('The person has Thyroid')

[0]
The person does not have Thyroid

C:\Users\Muthukumar\anaconda3\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [17]:
from sklearn.metrics import classification_report, confusion_matrix
Y_pred = classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)
print("\nClassification Report:\n", classification_report(Y_test, Y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(Y_test, Y_pred))

Accuracy: 0.9615894039735099

Classification Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98       697
           1       1.00      0.50      0.67        58

    accuracy                           0.96       755
   macro avg       0.98      0.75      0.82       755
weighted avg       0.96      0.96      0.96       755


Confusion Matrix:
 [[697   0]
 [ 29  29]]

In [18]:
import pickle

with open('Thyroid_SVM.pkl', 'wb') as f:
    pickle.dump(classifier, f)

print("âœ… Random Forest model saved as 'Thyroid_SVM.pkl'")

âœ… Random Forest model saved as 'Thyroid_SVM.pkl'